<head>
<title> G8-Patrol | Under Construction </title>
</head>

<body>
Nothing to see here yet.
<br>
See the <a href="https://phabricator.wikimedia.org/project/view/4972/">Phabricator Workboard</a> for information about the current state of development or the README file in the <a href="https://phabricator.wikimedia.org/source/tool-g8-patrol/browse/master/">Diffusion Repository</a> for general information about the project.
</body>
